<% provide(:title, "About") %>
<h1>About</h1>
自分の年表を作れるWebサービスです。<BR>

                                                                                                                                                                                               
