<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>
        <%= image_tag 'https://user-images.githubusercontent.com/31360339/29855298-bedfcedc-8d85-11e7-9a4a-c130f0121ded.png', :alt => ' レキシの名を入れよ' %>
      </section>
      <section class="rekishi_form">
        <%= render 'shared/rekishi_form' %>
      </section>
    </aside>
  </div>
<% else %>
ddddddddd
<% end %>
